@model IEnumerable<Blog.Models.Yorum>

@{
    ViewBag.Title = "TumYorumlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>TumYorumlar</h2>

@helper IcerikKisalt(string icerik)
{
    if (icerik.Length > 15)
    {
        @icerik.Substring(0, 15);
    }
    else
    {
        @icerik;
    }
}

<table class="table">
    <tr>
        <th>
            Kullanıcı Adı
        </th>
        <th>
            Makale Başlık
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EklenmeTarihi)
        </th>

        <th></th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kullanici.Adi)
            </td>
            <td>
                 <p>@IcerikKisalt(item.Makale.Baslik) ...</p>
            </td>
            <td>
                 <p>@IcerikKisalt(item.Icerik) ...</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kullanici.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EklenmeTarihi)
            </td>

            <td>
                @Html.ActionLink("Detay Göster", "YorumDetayGoster", new { id = item.YorumID }) |
                @Html.ActionLink("Sil", "YorumSil", new { id = item.YorumID })
            </td>
        </tr>
    }

</table>
